# Telegram
TG_TOKEN=PUT_YOUR_TOKEN_HERE
TG_TIMEOUT=10
LOG_LEVEL=debug

# Postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tasks
# For local run outside Docker: localhost/5432
DB_HOST=localhost
DB_PORT=5432
